<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevintoh0305gmail.gastronome">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".ChooseLoginRegister">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelloPage" />
        <activity android:name=".Registration" />
        <activity android:name=".Home" />
        <activity android:name=".GenderSelection" />
        <activity android:name=".InputAge" />
        <activity android:name=".InputWeight" />
        <activity android:name=".InputHeight" />
        <activity android:name=".ChooseGoal" />
        <activity android:name=".ContinueToSignUp" />
        <activity android:name=".RecipeActivity" />
        <activity android:name=".RecipeInfoActivity" />
        <activity android:name=".WeekyLog" />
    </application>
</manifest>